/* 
   BASE STYLES
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background: var(--state-start-background);
  min-height: 100vh;
  line-height: 1.6;
  padding: var(--space-md);
  color: var(--color-text);
}

code {
  background-color: #e9ecef;
  padding: 2px 6px;
  border-radius: 3px;
  font-family: var(--font-monospace);
  font-size: 0.9em;
}

img {
  max-width: 100%;
  display: inline-block;
}